<html>
<head>
<title>{{ dialog.title }}</title>
</head>
<body>
    <h1>{{ dialog.title }}</h1>
    <ul>
    {% for sentence in dialog.sentence_set.all %}
        <li>
            <h2>{{ sentence.role.name }}</h2>
            <p>{{ sentence.content }}<p>
        </li>
    {% endfor %}
    </ul>
    {% if analyze %}
        {% if dialog.label == -1 %}
            <h1>Likely Friend.</h1>
        {% elif dialog.label == 1 %}
            <h1>Likely Lover.</h1>
        {% else %}
            <h1>The two of you likely have different opinions on this.</h1>
        {% endif %}
        <p>Explanation: {{ dialog.explanation }}</p>
        <a href="{% url 'chat:dialog' dialog.id %}">hide</a>
    {% else %}
        <a href="{% url 'chat:analyze' dialog.id %}">Are we Lover or Friend?</a>
    {% endif %}

    <form action="{% url 'chat:sendA' dialog.id %}" method="post">
    {% csrf_token %}
        <label for="messageA">Send as PersonA:</label>
        <input type="text" name="messageA" id="messageA">
        <input type="submit" value="send">
    </form>

    <form action="{% url 'chat:sendB' dialog.id %}" method="post">
    {% csrf_token %}
        <label for="messageB">Send as PersonB:</label>
        <input type="text" name="messageB" id="messageB">
        <input type="submit" value="send">
    </form>
</body>
</html>